:root {
	// fonts
	--font-weight-light: 		300;
	--font-weight-book:      	normal;
	--font-weight-medium: 		500;
	--font-weight-bold: 	    bold;
	--font-weight-black:        900;

	// colors
	--color-white: 				#FFFFFF;
	--color-black: 				#000000;
	--color-dark-grey: 			#473e3e;
	--color-grey: 				#848185;
	--color-red: 				#f93838;
	--color-btn: 				#a12324;
	--color-dark-blue: 			#454e6e;

	--gradient:      			linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
	
}